.title{
	border-top: 1px solid black;
	background-color: #E0E0E0;
	margin-bottom: 21px;
}

#mensaje{
	width: 100%;
	height: 92px;
}

p{
	display: inline-block;
}

.fa.fa-trash-o{
/*    display: block;
    float: right;*/
    padding-top: 7px;
    padding-right: 10px;
}

button{
	background-color: #337AB7;
	color: white;
}

.mensaje{
	background-color: #E0E0E0;
}

.tachado{
	text-decoration: line-through;
}

/*pull-right para la derecha*/
/*i float right*/